.calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

@media (max-width: 768px) {
  .calendar {
     grid-template-columns: 1fr;
     grid-gap: 10px;
     display: flex;
     flex-direction: column;
     align-items: center; 

  }
  .day {
    margin: 0; 
  }

  circle {
    cx: 128px;
    cy: 128px;
    r: 128px;
    }  
}
  
.mask circle {
    fill: #fff;
}

.day {
  position: relative;
  overflow: hidden; 
}

.day img {
  #display: block;
  width: 100%;
  height: auto;
  clip-path: url(#circle);
}

.day {
  position: relative;
}

.day .number {
  position: absolute;
  left: 5px;
  bottom: 5px;
  color: #54205e;
  font-size: 1.4rem;
  text-decoration: none;
}

.day .mask {
  position: absolute;
  left: 0; 
  width: 100%;
  height: 100%;
}

.calendarEntry img {
    padding: 10px;
}

.calendarEntry .secondImage {
  max-width: 60%;  
}

.snowflake {
  position: absolute;
  fill: white;
  border-radius: 50%;
}

@keyframes fall {
  to {
    transform: translateY(150vh); 
  }
}
