body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 1rem;
    background-color: #EBCB8B;
    overflow-x: hidden;
}

.content {
    flex: 1;
    margin: 0;
    width: 100%;
}

.head-container,
.foot-container,
.container {
    margin-left: auto;
    margin-right: auto;
}

.container {
    background: #EBCB8B;
    padding: 20px;
}

header, footer {
    background-color: #54205e;
    color: #EBCB8B;
    padding: 20px;
    width: auto;
    max-width: 100%;
}

iframe {
    max-width: 100%;
}

.big {
    font-size: 120%;
    font-weight: bold;
}

.logo {
    height: 60px;
    max-height: 200px;
    width: auto;
    max-width: 100%;
}

@media (min-width: 768px) {
    .logo {
        height: 120px;
    }
    body {
        font-size: 1.2rem;
    }
    .head-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        margin-left: 20px;
    }
    .container {
        max-width: 70%;
    }
}

@media (min-width: 1024px) {
    .logo {
        height: 200px;
    }
    body {
        font-size: 1.4rem;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 100%;
    }
    nav {
        text-align: center;
    }
}

img {max-width:100%;}

p, li {
    max-width: 60ch;
}

p + p {
    margin-top: 1.2rem;
}

nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
}

nav li {
    margin: 0 10px;
    font-size: 0.9rem
}

nav a {
    color: #fff;
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 32%;
    margin: 0.5%;
}
